[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
yt-dlp = "*"
youtube-search-python = "*"
python-levenshtein = "*"
mysql-connector-python = "*"
aiomysql = "*"
python-dotenv = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.12"
